body {
  grid-area: main;
  /* background: #fc00ff; 
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff); 
  background: linear-gradient(to right, #00dbde, #fc00ff); */
  /* background-color: #ffeaa7; */
  min-height: 70vh;
  padding: 0;
  box-sizing: border-box;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  /* font-family: "Architects Daughter", cursive; */
  text-align: justify;
  font-size: 130%;
}

.Nav {

  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  margin-top:0px;
  width:100%;
  background: #fc00ff;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  
  background: linear-gradient(to right, #00dbde, #fc00ff);   
  /* background-color: #ffeaa7; */
  padding-right: 120px;
  padding-left: 120px;
  margin-right: auto;
  margin-left: auto;

}

.navbar {
  padding: .5rem 0rem;
}

.navbar-brand {
  font-family: 'Cormorant', serif;
  color: black;
  font-size: 1.5rem;
}


.navbar-light .navbar-nav .nav-link {
  color:white;
  font-size: 1rem;
  font-family: 'Mukta Vaani', sans-serif;
  padding-right: 0.8rem;
  padding-left: 0.75rem;
}

.nav-btn {
  padding-left: 1rem;
}

.intro {
  font-family: 'Yesteryear', cursive;
  font-size: 80px;
  text-align: left;
  padding-bottom: 0;
}

.jobTitle {
  font-family: 'DM Serif Display', serif;
  font-size: 50px;

}

h6, p, .serviceDescription {
  font-family: 'Montserrat', sans-serif;

}

.home {
  background-color: white;
  padding: 50px 0px;
  border-bottom: 1px solid blue;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 130px;
  padding-left: 130px;
}

.idPic {
  position: relative;
  /* top: 60px;
  left: 60px; */
  max-width: 100%;
  height:auto;
  text-align: center;
  padding: 10rem 10rem;

}

.techBackPic {
  
  position: relative;
  top: 30px;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  height:auto;
  /* padding-bottom: 30px; */
  border: 2px solid #00dbde;
  border-radius: 15px;
  /* box-shadow: 5px 10px #fc00ff; */


}


.techStack {
  padding: 30px 0 50px;
  text-align: center;
  border-bottom: 1px solid blue;
}

.about, .projects {
  padding: 30px 0px 50px;
  border-bottom: 1px solid blue;
}

h2, h3 {
  padding-bottom: 2rem;
  font-family: 'DM Serif Display', serif;
  text-align: center;
}

.contact {
  padding: 30px 100px;
  margin: 0px;
  max-width: 100%;
}

.foot {
  padding: 70px 130px 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size:medium;
  color: white;
  background-color: blue;
}

.socialMedia, .sm {
  text-align: right;
  padding-left: 12px;
  padding-bottom: 15px;
  font-size: large;

}








/* 
.container {
  width: 100%;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  margin-right:auto;
  margin-left: auto;
} */

/* .container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
} */
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}




.boxshadow {

  /* background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40); */
  background-size: cover;
  background-position: center center;

  transition: box-shadow 0.5s;
  will-change: transform;
  border: 0px solid white;
}

.boxshadow:hover {
  box-shadow: 0px 30px 100px -10px blue;
}